ENV=dev

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

API_PROTOCOL=http
API_HOST=localhost
API_PORT=3000

API_DELIVERY_INTERVAL_SEC = 30
API_DELIVERY_MAX_CONCURRENCY = 10
API_DELIVERY_TIMEOUT_SEC = 15
API_DELIVERY_MAX_RETRIES = 3
API_DELIVERY_RETRY_INTERVAL_SEC = 60
API_DELIVERY_RETRY_BACKOFF_BASE_SEC = 1
API_DELIVERY_RETRY_BACKOFF_MAX_SEC = 60

API_RECOVERY_INTERVAL_SEC = 300
