### Shared Configuration
ENV=dev


### Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


### API Configuration
API_PROTOCOL=http
API_HOST=localhost
API_PORT=3000

API_RATE_LIMIT_REQUESTS=100
API_RATE_LIMIT_WINDOW_SEC=60
API_THROTTLE_CONCURRENT_LIMIT=100
API_REQUEST_SIZE_LIMIT_BYTES=10485760

API_CORS_MAX_AGE_SEC=300

API_CACHE_NUM_COUNTERS=10000000
API_CACHE_MAX_COST=1073741824
API_CACHE_BUFFER_ITEMS=64

API_CACHE_DEFAULT_COST=1024

API_CACHE_SOURCE_TTL_SEC=300
API_CACHE_EVENT_TTL_SEC=900

API_DEFAULT_PAGE_SIZE=20
API_MIN_PAGE_SIZE=1
API_MAX_PAGE_SIZE=100

API_MAX_SEARCH_QUERY_LENGTH=512

API_DELIVERY_INTERVAL_SEC=30
API_DELIVERY_MAX_CONCURRENCY=10
API_DELIVERY_TIMEOUT_SEC=15
API_DELIVERY_REQUEST_TIMEOUT_SEC=15

API_DELIVERY_MAX_RETRIES=3
API_DELIVERY_RETRY_BACKOFF_BASE_SEC=1
API_DELIVERY_RETRY_BACKOFF_MAX_SEC=60

API_RECOVERY_INTERVAL_SEC=300
API_RECOVERY_TIMEOUT_SEC=15


### UI Configuration
UI_PROTOCOL=http
UI_HOST=localhost
UI_PORT=5173

UI_HTTPS_KEY_PATH=./certs/dev.key
UI_HTTPS_CERT_PATH=./certs/dev.crt
